class TodoListContainer extends Component {
  constructor() {
    super();

    this.state = {
      todoList: ['Sleep', 'Coding', 'Movie'],
    }
  }

  render() {
    const { todoList } = this.state;

    return (
      <div>
        <h1>Todo</h1>
        { todoList.map((todo, i) => <TodoList key={i} todo={ todo } />) }
        <TodoSubmit />
      </div>
    )
  }
}

class TodoList extends Component {
  constructor(props) {
    super(props);
  }

  render() {
    return <li>{ this.props.todo }</li>
  }
}

class TodoSubmit extends Component {
  render() {
    return (
      <div>
        Title:
        <input type="text" />
        <button>Submit</button>
      </div>
    )
  }
}
